# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
.env

# Build outputs
build/
dist/
out/

# IDE specific files (e.g., VS Code)
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db